.resultsContainer {
  padding: 2rem;
  max-width: 1200px;
  min-height: 80vh;
  margin: 0 auto;
}

.resultsContainer h1 {
  margin-bottom: 1.5rem;
  color: #333;
}

.profileList {
  display: flex;
  flex-wrap: wrap;
  margin: 24px 0px;
  gap: 20px;
  justify-content: left;
}

.profileCard {
  width: 32%;
  background-color: #fff;
  border-radius: 16px;
  padding: 1.5rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transition: box-shadow 0.3s ease;
}

.profileCard:hover {
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
}

.fotoContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
}

.fotoContainer img,
.defaultProfileIcon {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 3px;
}

.defaultProfileIcon {
  color: #c6c6c6;
}

.fotoContainer h3 {
  font-size: 24px;
  color: #333;
}

.fotoContainer h4 {
  font-size: 19.2px;
  margin-bottom: 5px;
  color: #333;
}

.fotoContainer h5 {
  font-size: 16px;
  color: #3b4d80; /* ligeramente más oscuro por contraste */
  font-weight: 500;
}

.descriptionContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 15px;
}

.profileCard h6 {
  font-weight: normal;
  font-size: 16px;
  color: #555;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.profileCard p {
  margin: 0px;
  color: #555;
  text-align: left;
}

.cvContainer {
  height: 100%;
  margin-bottom: 1px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.seeCv {
  padding: 0.6rem 1.2rem;
  background-color: #fff;
  font-weight: 500;
  color: #48649c;
  text-decoration: underline;
  cursor: pointer;
}

.noCv {
  color: #999;
  font-style: italic;
  font-weight: 500;
  padding: 0.6rem 1.2rem;
}


.contactContainer {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.ProfileEmailContainer {
  display: flex;
  gap: 5px;
}

.goToMail {
  text-decoration: none;
  background-color: #48649c;
  color: white;
  padding: 0.6rem 1.2rem;
  border-radius: 10px;
  font-weight: 500;
  transition: background-color 0.2s ease;
  cursor: pointer;
}

.goToMail:hover {
  background-color: #508cfc;
}

.notFound {
  width: 100%;
  height: 100vh;
}

.notFound p {
  text-align: center;
  color: #333;
}

@media (max-width: 768px) {
  .resultsContainer {
    padding: 1.5rem;
  }

  .resultsContainer h1 {
    margin-bottom: 1.5rem;
    font-size: 20px;
    color: #333;
  }

  .profileCard {
    width: 100%;
    margin-bottom: 1rem;
  }

  .profileList {
    justify-content: center;
  }

  .fotoContainer img,
  .defaultProfileIcon {
    width: 125px;
    height: 125px;
  }

  .fotoContainer h3 {
    font-size: 20px;
  }

  .fotoContainer h4 {
    font-size: 16px;
  }

  .fotoContainer h5 {
    font-size: 14px;
  }

  .profileCard h6 {
    font-size: 14px;
  }

  .goToMail {
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
  }

  .seeCv {
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  .resultsContainer {
    padding: 1rem;
  }

  .profileCard {
    padding: 1rem;
    width: 100%;
  }

  .profileList {
    gap: 10px;
  }

  .fotoContainer img,
  .defaultProfileIcon {
    width: 100px;
    height: 100px;
  }

  .fotoContainer h3 {
    font-size: 20px;
  }

  .fotoContainer h4 {
    font-size: 16px;
  }

  .fotoContainer h5 {
    font-size: 14px;
  }

  .profileCard h6 {
    font-size: 14px;
  }

  .profileCard p {
    font-size: 14px;
  }

  .goToMail {
    padding: 0.4rem 0.8rem;
    font-size: 14px;
  }

  .seeCv {
    padding: 0.4rem 0.8rem;
    font-size: 14px;
  }
}
