.faqContainer {
    margin: 60px auto;
    width: 80%;
    color: #555;
  }

  .faqContainer h1 {
    text-align: center;
    margin: 40px;
    color: #333;
  }

  .faqIntro {
    font-size: 1.1rem;
    color: #555;
    margin-bottom: 20px;
    text-align: center;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }
  
  
  .faqList {
    display: flex;
    flex-direction: column;
  }
  
  .faqItem {
    border-bottom: 1px solid #ddd;
    padding: 30px;
  }
  
  .faqQuestion {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
  }
  
  .faqQuestion h3 {
    margin: 0;
  }
  
  .faqAnswer {
    margin-top: 10px;
    padding-left: 20px;
    font-size: 0.95em;
    color: #555;
  }
  
  .faqQuestion span {
    font-size: 1.5em;
    font-weight: bold;
  }
  

  @media (max-width: 768px) {

    .faqContainer {
      margin: 0px 0px 100px 0px;
      padding: 20px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      width: 100%;
      color: #555;
    }
  
    .faqContainer h1 {
      font-size: 1.3rem;
    }
  
    .faqIntro {
      font-size: 0.95rem;
      margin-bottom: 10px;
    }
  
    .faqItem {
      padding: 15px;
    }
  
    .faqQuestion h3 {
      font-size: 1rem;
    }
  
    .faqAnswer {
      font-size: 14px;
    }
  
    .faqQuestion span {
      font-size: 1.1em;
    }
  }