.footer {
    background-color: #48649c;
    padding: 40px 20px;
    text-align: center;
  }
  
  .footerContainer {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 80%;
  }
  
  .logoContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 20px;
    width: 100%;
  }
  
  .appName {
    font-size: 1.5rem;
    font-weight: bold;
    color: #ecf0f1;
    margin-top: 10px;
  }
  
  .footerSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
  }

  .footerSection ul {
    list-style: none;
    text-align: left;
  }
  
  .footerTitle {
    font-size: 1.2rem;
    margin-bottom: 10px;
    font-weight: bold;
    display: block;
    color: #ecf0f1;
  }
  
  .footerLink {
    color: #ecf0f1;
    background-color: #48649c;
    border: none;
    cursor: pointer;
    text-decoration: none;
    margin-bottom: 8px;
    display: block;
    font-size: 16px;
  }
  
  .footerLink:hover {
    color: #bdc3c7; /* Cambio de color en hover */
  }

  .hrFooter {
    margin: 0px auto;
    background-color: #bdc3c7;
    border: none;
    height: 1px;
    width: 80%;
  }
  
  .footerBottom {
    margin-top: 40px;
    font-size: 0.875rem;
    color: #ecf0f1;
  }
  