.perfilContainer {
    width: 100%;
      margin: 0 auto;
      border-radius: 12px;
      max-width: 1250px;
      padding: 2rem;
      min-height: 100vh;
      color: #333;
    }
  
    .title {
      text-align: center;
      font-size: 2rem;
      font-weight: 600;
      margin-bottom: 2rem;
      color: #48649c;
    }
  
    .sectionTitle {
      font-size: 24px;
      font-weight: 600;
      margin: 0px 0px 15px 0px;
      color: #48649c;
    }
    
    .perfilForm {
      display: flex;
      flex-direction: column;
    }
  
    .labelImgNameContainer {
      display: flex;
      flex-direction: row;
      justify-content: center;
      width: 100%;
      align-items: center;
      gap: 20px;
      border: 1px solid #ebebeb;
      border-bottom: none;
    }
  
    .labelImgNameContainer .labelContainer {
      margin: 0px;
    }
  
    .labelNameContainer .labelContainer h2 {
      font-size: 32px;
      font-weight: bold;
    }
  
    .labelImgNameContainer img {
      object-fit: cover;
      border-radius: 50%;
      border: 2px solid #48649c;
      width: 120px;
      height: 120px;
    }

    .defaultProfileIcon {
      object-fit: cover;
      border-radius: 50%;
      color: #c6c6c6;
      border: 2px solid #48649c;
      width: 120px;
      height: 120px;
    }
  
    .locationIcon {
      color: #333;
    }
  
    .labelImgNameRoleContainer {
      width: 70%;
      padding: 20px;
      display: flex;
      align-items: center;
      gap: 15px;
    }
  
    .cvAllContainer {
      width: 30%;
      padding: 20px;
    }
  
    .labelContainer {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: baseline;
      gap: 3px;
      margin-bottom: 15px;
    }
    
    .labelContainer label {
      font-weight: bold;
      font-size: 19.2px;
      display: block;
    }
    
    .labelContainer p {
      font-size: 16px;
    }
  
    .labelContainer ul {
      list-style: none;
    }
    
    .input {
      padding: 5px;
      border: 1px solid #ccc;
      border-radius: 6px;
      width: 100%;
      font-size: 1rem;
    }
  
    .textarea {
      padding: 5px;
      border: 1px solid #ccc;
      border-radius: 6px;
      width: 100%;
      font-size: 1rem;
    }
    
    .input:focus {
      border-color: #3b82f6;
      outline: none;
    }
  
    .cvContainer {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 25px;
    }
    
    .cvContainer a {
      padding: 0.75rem 1.5rem;
      background-color: #48649c;
      color: white;
      border-radius: 8px;
      cursor: pointer;
      font-weight: 500;
      transition: background-color 0.3s;
    }
  
    .cvContainer a:hover {
      background-color: #508cfc;
    }

    .notAvailableText {
      color: #999;
      font-style: italic;
    }    
  
    .contactAndJobContainer {
      display: flex;
      width: 100%;
    }
  
    .contactContainer {
      width: 50%;
      border: 1px solid #ebebeb;
      border-bottom: none;
      padding: 40px;
    }
  
    .jobContainer {
      width: 50%;
      border: 1px solid #ebebeb;
      border-left: none;
      border-bottom: none;
      padding: 40px;
    }
  
    .studyAndOthersContainer {
      display: flex;
      width: 100%;
    }
  
    .studyContainer {
      width: 50%;
      border: 1px solid #ebebeb;
      padding: 40px;
    }
  
    .othersContainer {
      width: 50%;
      border: 1px solid #ebebeb;
      border-left: none;
      padding: 40px;
    }
    
    .idiomasGroup {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }
    
    .idiomaRow {
      display: flex;
      gap: 0.5rem;
      align-items: center;
    }
    
    .deleteBtn {
      background-color: #f87171;
      color: white;
      border: none;
      padding: 0.5rem;
      border-radius: 6px;
      cursor: pointer;
    }
    
    .addBtn {
      margin-top: 0.5rem;
      padding: 0.5rem 1rem;
      background-color: #10b981;
      color: white;
      border: none;
      border-radius: 6px;
      cursor: pointer;
      font-weight: 600;
    }
    
    .fotoSection,
    .cvSection {
      grid-column: span 2;
    }
    
    .fotoSection img {
      margin-top: 0.5rem;
      border-radius: 8px;
      object-fit: cover;
    }
  
    .editableImage {
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      justify-content: flex-end;
    }
  
    .editIcon {
      position: absolute;
      margin: 10px;
      cursor: pointer;
      width: 20px;
      height: 20px;
    }
  
    .cvLinkEditable {
      display: flex;
      gap: 5px;
      align-items: center;
    }
  
    .editIconCv {
      cursor: pointer;
      width: 20px;
      height: 20px;
    }
    
    .cvSection a {
      margin-top: 0.5rem;
      color: #2563eb;
      text-decoration: underline;
    }
    
    .buttons {
      grid-column: span 2;
      display: flex;
      justify-content: center;
      gap: 1rem;
      margin-top: 2rem;
    }
    
    .buttons button {
      padding: 0.75rem 1.5rem;
      background-color: #48649c;
      color: white;
      border: none;
      border-radius: 8px;
      font-size: 1rem;
      cursor: pointer;
      transition: background 0.3s ease;
    }
    
    .buttons button:hover {
      background-color: #508cfc;;
    }
  
    .idiomaNivelRow {
      width: 100%;
      display: flex;
      align-items: center;
      gap: 8px;
      margin-bottom: 10px;
    }
  
    .deleteBtn {
      background-color: #e53e3e;
      color: white;
      border: none;
      padding: 0.4rem 0.8rem;
      border-radius: 6px;
      cursor: pointer;
      transition: background-color 0.3s;
    }
    
    .deleteBtn:hover {
      background-color: #c53030;
    }
  
    .buttonSecondary {
      padding: 5px;
      border: 1px solid #ccc;
      border-radius: 6px;
      width: 100%;
      cursor: pointer;
    }

    .labelContainer a {
        color: #2563eb;
        text-decoration: underline;
    }
    
  
    
    
    @media (max-width: 768px) {
      .perfilContainer {
        width: 100%;
        padding: 60px 15px;
      }
    
      .title {
        font-size: 1.5rem;
        margin-bottom: 1.5rem;
      }
    
      .sectionTitle {
        font-size: 20px;
        margin-bottom: 12px;
      }

      .cvContainer {
        align-items: center;
      }
    
      .labelImgNameContainer {
        flex-direction: column;
        gap: 12px;
        padding: 1rem;
        text-align: center;
      }
    
      .labelImgNameRoleContainer,
      .cvAllContainer {
        width: 100%;
        padding: 0;
        flex-direction: column;
        align-items: center;
        text-align: center;
      }
    
      .cvAllContainer {
        margin-top: 1rem;
      }
    
      .labelContainer {
        flex-direction: row;
      }
    
      .contactAndJobContainer,
      .studyAndOthersContainer {
        flex-direction: column;
        border-left: 1px solid #ebebeb;
      }
    
      .contactContainer,
      .jobContainer,
      .studyContainer,
      .othersContainer {
        width: 100%;
        padding: 20px;
        border-left: none;
        font-size: 14px;
        word-wrap: break-word; /* Permite que las palabras largas se rompan al final de la línea */
        overflow-wrap: break-word; /* Añadido para mejorar la compatibilidad con navegadores antiguos */
        word-break: break-all; /* Asegura que las URLs largas se rompan incluso en caracteres no espaciados */
        white-space: normal; /* Permite que el texto fluya normalmente */
      }

      .othersContainer {
        border-top: none;
      }

      .labelImgNameRoleContainer p {
        font-size: 14px;
      }

      .contactContainer h3 {
        font-size: 16px;
      }

      .contactContainer label {
        font-size: 14px;
      }

      .contactContainer p {
        font-size: 14px;
      }

      .jobContainer h3 {
        font-size: 16px;
      }

      .jobContainer label {
        font-size: 14px;
      }

      .jobContainer p {
        font-size: 14px;
      }

      .studyContainer h3 {
        font-size: 16px;
      }

      .studyContainer label {
        font-size: 14px;
      }

      .studyContainer p {
        font-size: 14px;
      }

      .othersContainer h3 {
        font-size: 16px;
      }

      .othersContainer label {
        font-size: 14px;
      }
      .othersContainer p {
        font-size: 14px;
      }
      



    
      .labelImgNameContainer img,
      .defaultProfileIcon {
        width: 100px;
        height: 100px;
      }
    
      .idiomaRow {
        flex-direction: column;
        align-items: flex-start;
      }
    
      .buttons {
        flex-direction: column;
        gap: 0.75rem;
      }
    
      .buttons button {
        width: 100%;
      }
    
      .editableImage {
        justify-content: center;
      }
    
      .cvLinkEditable {
        flex-direction: column;
        gap: 4px;
      }
    }