/* src/components/Navbar.module.css */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-items: center;
    padding: 1rem 2rem;
    color: #555;
    border-bottom: 1px solid #ebebeb;
  }
  
  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  
  .logoImage {
    width: 170px;
  }

  .sections {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  
  .navLinks {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    list-style: none;
  }
  
  .navLinks li {
    margin: 0;
    text-align: center;
  }
  
  .navLinks a {
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s;
  }
  
  .navLinks a:hover {
    color: #48649c;
  }

  .register {
    color: white;
    font-size: 16px;
    border: none;
    background-color: #48649c;
    padding: 8px 12px;
    border-radius: 10px;
    transition: color 0.3s;
    cursor: pointer;
  }

  .navLinks .register:hover {
    color: white;
    background-color: #508cfc;
    transition: 0.3s;
  }

  .profileWrapper {
    position: relative;
  }
  
  .profileIcon {
    width: 32px;
    height: 32px;
    object-fit: cover;
    cursor: pointer;
  }
  
  .dropdownMenu {
    position: absolute;
    top: 40px;
    right: 0;
    background: white;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 6px;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 8px;
    z-index: 999;
    min-width: 140px;
  }
  
  .dropdownMenu a,
  .dropdownMenu button {
    text-align: left;
    padding: 0.4rem 0.6rem;
    border: none;
    background: none;
    cursor: pointer;
    font-size: 0.95rem;
    color: #333;
  }
  

  .dropdownMenu a:hover {
    background-color: #f3f3f3;
  }

  .dropdownMenu button:hover {
    background-color: #f3f3f3;
    color: rgba(255, 0, 0, 0.808);
    transition: color 0.3;
  }

  .loginLink {
    background-color: white;
    border: none;
    font-size: 16px;
    color: #555;
    cursor: pointer;
  }

  .loginLink:hover {
    color: #48649c;
  }

  .profileImage {
    width: 48px;
    height: 48px;
    cursor: pointer;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #48649c;
  }  