.searchContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
  }
  
  .searchBar {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    border-top-right-radius: 0%;
    border-bottom-right-radius: 0%;
    width: 80%;
    box-sizing: border-box;
  }
  
  .searchButton {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #48649c;
    border-radius: 5px;
    border-top-left-radius: 0%;
    border-bottom-left-radius: 0%;
    border: 1px solid #ccc;
    border-left: none;
    cursor: pointer;
    padding: 10px;
  }
  
  .searchButton:hover {
    background-color: #508cfc;
    transition: 0.3s;
  }
  
  .searchBar::placeholder {
    color: #888;
  }

  .spinner {
    width: 18px;
    height: 18px;
    border: 2px solid #ffffff88;
    border-top: 2px solid white;
    border-radius: 50%;
    animation: spin 0.7s linear infinite;
    margin: auto;
  }
  
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
  